<template>
  <b-container>
    <page-header :categories="categories"/>

    <h4>{{ title }}</h4>

    <b-row
      tag="p"
      v-for="line in description"
      :key="line"
      no-gutters
    >
      {{ line }}
    </b-row>

    <b-row no-gutters class="p-3">
      <template v-if="images.length > 0">
        <b-img
          v-for="imageUrl in images"
          :key="imageUrl"
          thumbnail
          :src="imageUrl"
          class="mr-2"
        />
      </template>
    </b-row>

    <b-row
      v-if="available"
      tag="p"
      no-gutters
    >
      {{ price }}
    </b-row>

    <b-alert v-else show variant="warning" class="ml-0">zur Zeit leider nicht verfügbar</b-alert>
  </b-container>
</template>

<script>
import { loadCategories, loadProduct } from '~/lib/utils'

import PageHeader from '~/components/page-header.vue'

export default {
  components: {
    PageHeader
  },

  asyncData({ params }) {
    const { language, category, product } = params

    return Promise.all([
      loadCategories(language),
      loadProduct(language, category, product)
    ]).then(([categories, product]) => {
      return {
        categories,
        ...product
      }
    })
  }
}
</script>
