<template>
  <b-container>
    <page-header :categories="categories"/>

    <b-row class="p-3">
      <b-link
        v-for="product in products"
        :key="product.id"
        :to="{ path: product.path }"
      >
        <b-card
          :img-src="product.images[0] || require(`~/static/fragewurm.png`)"
          class="h-100 mr-3 product"
        >
          <div slot="footer">
            {{ product.title }}<br />
            <small v-if="product.available">{{ product.price }}</small>
            <small v-else>nicht verfügbar</small>
          </div>
        </b-card>
      </b-link>
    </b-row>
  </b-container>
</template>

<script>
import { loadCategories, loadCategoryProducts } from '~/lib/utils'

import PageHeader from '~/components/page-header.vue'

export default {
  components: {
    PageHeader
  },

  asyncData({ params }) {
    const { language, category } = params

    return Promise.all([
      loadCategories(language),
      loadCategoryProducts(language, category)
    ]).then(([categories, products]) => {
      return {
        categories,
        products
      }
    })
  }
}
</script>

<style>
.product.card {
  width: 200px;
}
</style>
