<template>
  <div class="page-header">
    <b-row>
      <b-card no-body class="overflow-hidden w-100 border-bottom-0">
        <b-row no-gutters>
          <b-card-body
            title="Testshop"
            title-tag="h1"
            sub-title="Käufliches von Bastian"
            sub-title-tag="h3"
            class="flex-fill">
          </b-card-body>

          <img
            :src="require(`~/static/header.png`)"
            alt="header image"
            class="d-none d-sm-block"
          />
        </b-row>

        <b-card-header>
          <b-nav tabs class="card-header-tabs">
            <b-nav-item
              v-for="category in categories"
              :key="category.id"
              :to="{ path: category.path }"
              active-class="active"
            >
              {{ category.title }}
            </b-nav-item>
          </b-nav>
        </b-card-header>
      </b-card>
    </b-row>

    <b-navbar>
      <b-navbar-nav class="ml-auto">
        <b-nav-form>
          <b-input-group size="sm">
            <b-form-input class="border-secondary" type="text" placeholder="Search"/>
            <b-input-group-append>
              <b-button variant="outline-secondary" @click="search">🔍</b-button>
            </b-input-group-append>
          </b-input-group>
        </b-nav-form>

        <b-nav-item>
          <b-dropdown size="sm" variant="outline-secondary" text="🌍">
            <b-dropdown-item :to="switchLanguage('de')">Deutsch</b-dropdown-item>
            <b-dropdown-item :to="switchLanguage('en')">Englisch</b-dropdown-item>
          </b-dropdown>
        </b-nav-item>

        <b-nav-text>
          <b-button
            size="sm"
            variant="outline-secondary"
            :to="{ path: '/cart' }"
          >
            🛒
            <b-badge variant="light" :to="{ path: '/cart' }">0</b-badge>
          </b-button>
        </b-nav-text>
      </b-navbar-nav>
    </b-navbar>
  </div>
</template>

<script>
export default {
  props: {
    categories: {
      type: Array,
      required: true
    }
  },

  methods: {
    search() {
      alert('Nee, geht noch nicht...')
    },

    switchLanguage(language) {
      const { category } = this.$route.params
      return { params: { language, category } }
    }
  }
}
</script>
