<template>
  <b-container>
    <page-header :categories="categories"/>

    <b-row class="p-3">
      Startscreen – Wuhuu! :-)
    </b-row>
  </b-container>
</template>

<script>
import { loadCategories, loadCategoryProducts } from '~/lib/utils'

import PageHeader from '~/components/page-header.vue'

export default {
  components: {
    PageHeader
  },

  asyncData({ params }) {
    const { language = 'de' } = params

    return loadCategories(language).then(categories => ({
      categories
    }))
  }
}
</script>
